.project_header {
    background: blueviolet;
}
.project_date {
    background:teal;
}
.project_key {
    background:lightgreen;
}
.even { background: #DC572E; }
.odd { background: #7f132d; }

@media (max-width: 480px) {
    .project-content {
        font-size: 13px;
    }
}
@media (min-width: 480px) and (max-width: 1080px) {
    .project-content {
        font-size: 14px;
    }
}
@media (min-width: 1080px) {
    .project-content {
        font-size: 16px;
    }
}