.project_header {
    background: blueviolet;
}
.project_date {
    background:teal;
}
.project_key {
    background:lightgreen;
}
.even { background: #DC572E; }
.odd { background: #7f132d; }

#container{

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#container div {
    background: whitesmoke;
    padding: 0.5%;
    margin:0.5%;

}


@media (max-width: 480px) {
    #container div {
        max-width: 98%;
    }
    #project-content span {
        font-size: 13px;
    }
}
@media (min-width: 480px) and (max-width: 1080px) {
    #container div {
        max-width: 48%;
    }
    #project-content span {
        font-size: 14px;
    }
}
@media (min-width: 1080px) {
    #container div {
        max-width: 23%;
    }
    #project-content span {
        font-size: 16px;
    }
}