<div style="margin:1px; padding:5px;" class="fill" [style.background-image]="'url(' + projectImg + ')'">
    <video style="opacity: 0.5;width:100%;height:100%;" controls autoplay loop="loop" muted >
        <source src="{{videoPath}}" type="video/mp4">
    </video>
    <div class="textOverImage">
        <div style="margin-left: 10px">
            <h2>IT Freelancer: Soulaymane Zemmouri</h2>
            <h1>Aktuelle Projekte</h1>
            <h2 style="color:yellow;">{{skill}}</h2>
        </div>
        <div class="panelInfo PanelBox panel panel-info">
            <div class="panel-heading">
                <h2>In der Informatik geht es genau so wenig um Computer, wie in der Astronomie um Teleskope</h2>
            </div>
        </div>
        <!--div (click)="scrollToBottom()" class="rightBottomDiv">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
        </div-->
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
         <div class="tile purple">
            <h1><strong>Projekte</strong></h1>
            <strong>im Folgenden sind meine erfolgreichte Projekte aufgelistet:</strong>
        </div>
    </div>
</div>
<div *ngFor="let projectData of projectsData;">
    <expander-component
            style="margin: 5px;"
            [projectIcon]="projectIcon"
            [projectIconMobile]="projectIconMobile"
            [title]="projectData.date"
            [descriptionToggled]="projectData.title"
            [descriptionHidden]="projectData.title">
        <span id="project-content" style="color: #3F88C5;line-height: 200%;">
                <span *ngFor="let content of projectData.contents">
                    <img src="{{right_chevron}}">
                    <span>{{content}} </span>
                    <br>
                </span>
        </span>
    </expander-component>
</div>
<!--div id="container">
    <div *ngFor="let projectData of projectsData;let odd=odd; let even=even;" style="border:0px;">
        <span style="background: whitesmoke" class="tile">
            <span style="vertical-align:middle;text-align:center;color: #fcab0e">
                <h3 class="project_header">{{projectData.title}}</h3>
                <p class="project_date">{{projectData.date}}</p>
            </span>
            <span style="font-size:15px;">
                <span *ngFor="let content of projectData.contents">
                    <span>* {{content}} </span>
                    <br>
                </span>
            </span>
            <br>
            <span class="project_key" style="vertical-align:middle;text-align:center;">
                <span>{{projectData.keys}}</span>
            </span>
        </span>
    </div>
</div-->

<footer-view></footer-view>