<div style="margin:1px; padding:5px;" class="fill" [style.background-image]="'url(' + projectImg + ')'">
    <div class="textOverImage">
        <div style="margin-left: 10px">
            <h2>IT Freelancer: Soulaymane Zemmouri</h2>
            <h1>Aktuelle Projekte</h1>
            <h2 style="color:yellow;">{{skill}}</h2>
        </div>
        <div class="panelInfo PanelBox panel panel-info">
            <div class="panel-heading">
                <h2>In der Informatik geht es genau so wenig um Computer, wie in der Astronomie um Teleskope</h2>
            </div>
        </div>
        <div (click)="scrollToBottom()" class="rightBottomDiv">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
        </div>
    </div>
</div>
<div style="margin:1px;" class="scroll-box row match-my-cols">
    <div *ngFor="let projectData of projectsData" class="col-xs-12 col-sm-6" style="background-color: #83b2d0">
        <div style="vertical-align:middle;text-align:center;background-color:#2A162F;color: #fcab0e">
            <h3>{{projectData.title}}</h3>
            <p>{{projectData.date}}</p>
        </div>
        <div style="font-size:15px;">
            <div *ngFor="let content of projectData.contents">
                <div>* {{content}} </div>
            </div>
        </div>
        <div style="vertical-align:middle;text-align:center;">
            <div class="label-success">{{projectData.keys}}</div>
        </div>
    </div>
</div>
<footer-view></footer-view>