<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-4 col-sm-4">
                <div class="footer_dv">
                    <h4>business netzwerke</h4>
                    <ul>
                        <li class="line_rv">
                            <a target="_blank" href="https://www.xing.com/profile/Soulaymane_zemmouri?sc_o=mxb_p">
                                <img src="{{xingIcon}}"> Xing Profil</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/souly80">
                                <img src="{{githubIcon}}"> github
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.gulp.de/gulp2/home/profil/szemmouri?9">Gulp Profil</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
                <div class="footer_dv">
                    <h4>© Copyright 2017</h4>
                    <p>Designed by Soulaymane Zemmouri</p>
                    <a [routerLink]="['/impressum']">Impressum</a>
                </div>
            </div>
        </div>
    </div>
</section>