<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-4 col-sm-4">
                <div class="footer_dv">
                    <h4>business netzwerke</h4>
                    <ul>
                        <li class="line_rv">
                            <a target="_blank" href="https://www.xing.com/profile/Soulaymane_zemmouri?sc_o=mxb_p">
                                <img src="{{xingIcon}}"> Xing Profil</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://linkedin.com/in/soulaymane-zemmouri-614318137">
                                <img src="{{linkedinIcon}}"> linkedIn
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/souly80">
                                <img src="{{githubIcon}}"> github
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.gulp.de/gulp2/home/profil/szemmouri?utm_source=GULP%20Profilbuttons">
                                <img src="https://www.gulp.de/gulp2/assets/profile-buttons/GULP_BL_90x30px_weiss.jpg" alt="Mein GULP Profil">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.freelancermap.de/freelancer-verzeichnis/profile/entwicklung/142886-profil-soulaymane-zemmouri-software-architekt-entwickler-aus-leonberg.html"
                                target="_blank" title="Profil von Soulaymane Zemmouri auf www.freelancermap.de"><img src="http://www.freelancermap.de/images/widgets/button/MeinProfil.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
                <div class="footer_dv">
                    <h4>© Copyright 2017</h4>
                    <p>Designed by Soulaymane Zemmouri</p>
                    <a [routerLink]="['/impressum']">Impressum</a>
                </div>
            </div>
        </div>
    </div>
</section>