<div class="fill" [style.background-image]="'url(' + contactImg + ')'">
    <div class="textOverImage">
        <div style="margin-left: 10px">
            <h2>IT Freelancer: Soulaymane Zemmouri</h2>
            <h2>Telfon: +4917683146723</h2>
            <h2>Wohnsitz in Stuttgart</h2>
            <div (click)="scrollToBottom()" class="rightBottomDiv">
                <span class="glyphicon glyphicon-circle-arrow-down"></span>
            </div>
        </div>
        <div class="panelInfo PanelBox panel panel-info">
            <div class="panel-heading">
                <h2>Phantasie ist wichtiger als Wissen, denn Wissen ist begrenzt. (Albert Einstein)</h2>
            </div>
        </div>
    </div>
</div>
<h2>
    <div style="margin-left: 10px;">
        Falls Sie Unterstützung benötigen, fragen Sie meine Verfügbarkeit bitte an.
        <br>Senden Sie dazu entweder eine E-Mail an zemmouri80@hotmail.de oder rufen sich mich unter der Rufnummer +49 176
        83146723 an
    </div>
</h2>
<footer-view></footer-view>