.visitcart-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.name {
    margin-top: 30px;
}

.main {
    padding: 45px;
    border-radius: 10px;
    background-color: white;
}

.passion {
    margin-top: 8px;
    color: gray;
}

.graphic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 2;
    box-shadow: 0 0 0 1.5em #ffffff;
    position: relative;
}

.graphic-lines {
    display: block;
    position: relative;
}

.graphic-lines:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -45px;
    width: calc(100% + 90px);
    height: 1px;
    z-index: 1;
    background: lightgray;
}

.description {
    margin-top: 10px;
}

.description a {
    color: black;
}

.image-credits {
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 10px;
    color: gray;
}

.font-credits {
    margin: 0;
    font-size: 10px;
    color: gray;
}

.flip-on-hover:hover {
    background-color: gray;
}

.flip-on-hover:hover span:before {
    color: white;
}

.icons {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icons + .icons {
    margin-top: 10px;
}

.icon {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 46px;
    display: inline-flex;
    height: 46px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.5s;
    animation: flipInY 1s both;
}

.icon span {
    margin-left: auto;
    margin-right: auto;
}

.icon span:before {
    font-size: 26px;
    transition: color 0.5s;
}

.icon:hover[data-help-text="facebook"] ~ .help-text-container .help-text[data-help-text="facebook"] {
    height: auto;
    opacity: 1;
}

.icon:hover[data-help-text="instagram"] ~ .help-text-container .help-text[data-help-text="instagram"] {
    height: auto;
    opacity: 1;
}

.icon:hover[data-help-text="xing"] ~ .help-text-container .help-text[data-help-text="xing"] {
    height: auto;
    opacity: 1;
}

.icon:hover[data-help-text="linkedin"] ~ .help-text-container .help-text[data-help-text="linkedin"] {
    height: auto;
    opacity: 1;
}

.icon:hover[data-help-text="blog"] ~ .help-text-container .help-text[data-help-text="blog"] {
    height: auto;
    opacity: 1;
}

.icon:hover[data-help-text="stackoverflow"] ~ .help-text-container .help-text[data-help-text="stackoverflow"] {
    height: auto;
    opacity: 1;
}

.icon:hover[data-help-text="github"] ~ .help-text-container .help-text[data-help-text="github"] {
    height: auto;
    opacity: 1;
}

.icon:hover[data-help-text="twitter"] ~ .help-text-container .help-text[data-help-text="twitter"] {
    height: auto;
    opacity: 1;
}

a,
a:focus,
a:visited,
a:hover {
    text-decoration: none;
}

.gray-links a,
.gray-links a:focus,
.gray-links a:visited,
.gray-links a:hover {
    color: gray;
}

.animation-init {
    opacity: 0;
    transform: rotateY(-90deg);
}

.animation-delay1 {
    animation-delay: 0.1s;
}
.animation-delay2 {
    animation-delay: 0.2s;
}
.animation-delay3 {
    animation-delay: 0.3s;
}
.animation-delay4 {
    animation-delay: 0.4s;
}
.animation-delay5 {
    animation-delay: 0.5s;
}
.animation-delay6 {
    animation-delay: 0.6s;
}
.animation-delay7 {
    animation-delay: 0.7s;
}

.help-text-container {
    display: block;
    margin-top: 8px;
    width: 100%;
}

.icons-top .help-text-container {
    order: 1;
    margin-top: 0;
    margin-bottom: 28px;
}

.icons-top a {
    order: 2;
}

.icons-top {
    margin-top: 12px;
}

.help-text {
    display: block;
    opacity: 0;
    height: 0;
    transition: opacity 0.5s;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes flipInY {
    0% {
        transform: rotateY(-90deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@media only screen and (max-width: 450px) {
    .main {
        padding: 10px;
    }

    .graphic {
        width: 100px;
        height: 100px;
        box-shadow: 0 16px 0 1.5em #ffffff;
    }

    .image-credits {
        margin-top: 20px;
    }

    .graphic-lines:before {
        left: -10px;
        width: calc(100% + 20px);
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 640px) {
    body {
        background-image: none;
        font-size: 80%;
    }

    .name {
        margin-top: 10px;
    }

    .graphic {
        width: 50px;
        height: 50px;
        box-shadow: 0;
    }

    .passion {
        margin-top: 5px;
    }

    .main {
        padding: 0;
    }

    .image-credits {
        margin-top: 18px;
    }

    .icons-top {
        margin: 0;
    }

    .help-text-container {
        margin-top: 0;
    }

    .icons-top .help-text-container {
        margin-bottom: 15px;
    }
}
