<div class="visitcart-center">
    <section class="main">
        <span class="graphic-lines">
            <img [src]="meImg" class="graphic" alt="Soulaymane Zemmouri" title="Soulaymane Zemmouri">
        </span>

        <h1 class="name">{{ contactData.name }}</h1>
        <div *ngIf="contactData.available; then templateAvailable else templateNotAvailable"></div>
        <ng-template #templateAvailable>
            <span class="label label-success text_small vcenter">verfügbar</span>
        </ng-template>
        <ng-template #templateNotAvailable>
            <span class="label label-danger text_small vcenter">nicht verfügbar</span>
            <br>
            <span>verfügbar ab {{contactData.availableFrom}}</span>
        </ng-template>
        <p class="description">{{ contactData.description }}</p>
        <p class="passion">{{ contactData.passion }}</p>

        <div style="margin-left: 10px">
            <h2>{{ contactData.title }}</h2>
            <h2>{{ contactData.phoneNumber }}</h2>
            <h2>E-Mail: <a href='mailto:info@szemmouri.de'>info@szemmouri.de</a></h2>
            <h2>{{ contactData.localtion }}</h2>
        </div>
    </section>
</div>
<footer-view></footer-view>