<div class="visitcart-center">
    <section class="main">
        <span class="graphic-lines">
            <img src="/img/img-1250ce.png" class="graphic" alt="Soulaymane Zemmouri" title="Soulaymane Zemmouri">
        </span>

        <h1 class="name">Soulaymane Zemmouri</h1>
        <span class="label label-success text_small vcenter">verfügbar</span>

        <p class="description">Senior Software Entwickler></p>
        <p class="passion">Fullstack Entwickler<br>Angular, Node.js, .NET</p>

        <div style="margin-left: 10px">
            <h2>IT Freelancer: Soulaymane Zemmouri</h2>
            <h2>Telefon: +49 176-60362011</h2>
            <h2>Wohnsitz in Stuttgart</h2>
            </div>
    </section>
</div>
<footer-view></footer-view>