/*.statement {
    font-size: 23px;
    font-weight: 300;
}*/
.carousel{
    overflow:hidden;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.slides{
    list-style:none;
    position:relative;
    width:600%; /* Number of panes * 100% */
    height: auto;;
    overflow:hidden; /* Clear floats */
    /* Slide effect Animations*/
    -moz-animation:carousel 50s infinite;
    -webkit-animation:carousel 50s infinite;
    animation:carousel 50s infinite;
}
.slides > li{
    position:relative;
    float:left;
    width: 16.66%; /* 100 / number of panes */
    height: 200px;
}
.carousel {
    display:block;
    width:100%;
    max-width:100%;
}
.carousel span{
    margin-bottom: 0;
    font-size:1em;
    padding:1.5em 0.5em 1.5em 0.5em;
    position:absolute;
    right:0px;
    bottom:0px;
    left:0px;
    text-align:center;
}

@keyframes carousel{
    0%    { left:-5%; }
    11%   { left:-5%; }
    12.5% { left:-105%; }
    23.5% { left:-105%; }
    25%   { left:-205%; }
    36%   { left:-205%; }
    37.5% { left:-305%; }
    48.5% { left:-305%; }
    50%   { left:-405%; }
    61%   { left:-405%; }
    62.5% { left:-305%; }
    73.5% { left:-305%; }
    75%   { left:-205%; }
    86%   { left:-205%; }
    87.5% { left:-105%; }
    98.5% { left:-105%; }
    100%  { left:-5%; }
}