<div *ngFor="let item of downloadData;">
     <expander-component
             style="margin: 5px;"
             [projectIcon]="projectIcon"
             [projectIconMobile]="projectIconMobile"
             [descriptionToggled]="item.key"
             [descriptionHidden]="item.key">
         <mat-list *ngFor="let dValue of item.value">
             <mat-list-item>
                 <a target="_blank" class="download-container" href="{{dValue.path}}">
                     <div class="download-title">{{dValue.title}} </div>
                     <div class="download-date">{{dValue.date}} </div>
                     <img src="{{dValue.iconPath}}" class="download-icon">
                 </a>
             </mat-list-item>
             <hr>
         </mat-list>
     </expander-component>
 </div>
 <footer-view></footer-view>