<div style="height: 275px;" class="fill" [style.background-image]="'url(' + profilImg + ')'">
    <div class="textOverImage">
        <div style="margin-left: 10px">
            <h2>IT Freelancer: Soulaymane Zemmouri</h2>
            <h1>Profil</h1>
            <h2 style="color:yellow;">{{skill}}</h2>
        </div>
        <div class="panelInfo PanelBox panel panel-info">
            <div class="panel-heading">
                <span>Informationen ist nur, was verstanden wird. (Card Friedrich)</span>
            </div>
        </div>
    </div>
</div>
<div class="scroll-box row match-my-cols" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-xs-12 col-md-6">
        <img [src]="meImg" alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-xs-12 col-md-6">
        <h4>Soulaymane Zemmouri</h4>
        <h6>Aktualiert am 26 Februar 2019</h6>
        <small><cite title="Leonberg ,Deutschland">Leonberg, Deutschland <i class="glyphicon glyphicon-map-marker">
        </i></cite></small>
        <p>
            <i class="glyphicon glyphicon-envelope"></i>info@szemmouri.de
            <br />
            <i class="glyphicon glyphicon-globe"></i><a href="http://szemmouri.de">www.szemmouri.de</a>
            <br />
            <i class="glyphicon glyphicon-gift"></i>1980
            <br />
            <br />
            <i>Staatsangehörigkeit:	Deutsch </i>
            <br />
            <br />
            <i>Familienstand: verheiratet </i>
            <br />
            <br />
            <i>Berufsbezeichnung:</i><i>Diplom-Ingenieur Elektrotechnik in Karlsruhe</i>
            <br />
            <br />
            <i>Fachliche Schwerpunkte : </i><i style="color: darkgreen"> Senior Web/Softwareentwickler und Softwarearchitektur von modernen Webanwendungen in React/Angular, .NET C# und Java</i>
            <br />
            <br />
            <i>Branchenerfahrung :Banken, Textilindustrie, Automotivebereich, Fertigung</i>
        </p>
        <p>
            Ich suche Freelance-Projekte in und um Stuttgart oder mit Remote-Anteil nach Einarbeitung. Keine Festanstellung!
        </p>
        <p style="color: darkgreen">Aktuelle Vervügbarkeit: 01.04.2019</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h2>Berufserfahrungen</h2>
        </div>
    </div>
</div>
<table-component class="profil-content" [displayedColumns]="displayedColumns" [data]="profilData">
</table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h2>Schulung</h2>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="trainingsData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h2>Studium</h2>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="studiesData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h2>Praktikum</h2>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="intershipsData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h2>Schulbildung</h2>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="educationData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h2>Kenntnisse</h2>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="experinceData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h2>Sprachen</h2>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="languageKnowledgeData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h2>Soziale Fähigkeiten und Kompetenzen</h2>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="socialSkillsData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h2>Hobby</h2>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="hobiesData"></table-component>
<footer-view></footer-view>