<div style="height: 275px;" class="fill" [style.background-image]="'url(' + profilImg + ')'">
    <div class="textOverImage">
        <div style="margin-left: 10px">
            <h2>IT Freelancer: Soulaymane Zemmouri</h2>
            <h1>Profil</h1>
            <h2 style="color:yellow;">{{skill}}</h2>
        </div>
        <div class="panelInfo PanelBox panel panel-info">
            <div class="panel-heading">
                <h2>Informationen ist nur, was verstanden wird. (Card Friedrich)</h2>
            </div>
        </div>
    </div>
</div>
<div class="match-my-cols">
    <div class="col-xs-12 col-md-6">
        <img [src]="meImg" alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-xs-12 col-md-6">
        <h4>Soulaymane Zemmouri</h4>
        <h6>Aktualiert am 20 Oktober 2017</h6>
        <small><cite title="Leonberg ,Deutschland">Leonberg, Deutschland <i class="glyphicon glyphicon-map-marker">
        </i></cite></small>
        <p>
            <i class="glyphicon glyphicon-envelope"></i>zemmouri80@hotmail.de
            <br />
            <i class="glyphicon glyphicon-globe"></i><a href="http://szemmouri.de">szemmouri.de</a>
            <br />
            <i class="glyphicon glyphicon-gift"></i>1980
            <br />
            <br />
            <i>Staatsangehörigkeit:	Deutsch </i>
            <br />
            <br />
            <i>Familienstand: verheiratet </i>
            <br />
            <br />
            <i>Berufsbezeichnung:</i><i>Diplom-Ingenieur Elektrotechnik in Karlsruhe</i>
            <br />
            <br />
            <i>Fachliche Schwerpunkte : </i><i style="color: darkgreen"> Softwareentwickler und Softwarearchitektur von modernen Webanwendungen in .NET C# /Java</i>
            <br />
            <br />
            <i>Branchenerfahrung :Textilindustrie, Automotivebereich, Fertigung</i>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h1><strong>Berufserfahrungen</strong></h1>
        </div>
    </div>
</div>
<table-component class="profil-content" [displayedColumns]="displayedColumns" [data]="profilData">
</table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h1><strong>Schulung</strong></h1>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="trainingsData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h1><strong>Studium</strong></h1>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="studiesData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h1><strong>Praktikum</strong></h1>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="intershipsData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h1><strong>Schulbildung</strong></h1>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="educationData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h1><strong>Kenntnisse</strong></h1>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="experinceData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h1><strong>Sprachen</strong></h1>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="languageKnowledgeData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h1><strong>Soziale Fähigkeiten und Kompetenzen</strong></h1>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="socialSkillsData"></table-component>


<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
        <div class="tile purple">
            <h1><strong>Hobby</strong></h1>
        </div>
    </div>
</div>
<table-component [displayedColumns]="displayedColumns" [data]="hobiesData"></table-component>
<!--div>
    <h2>Projektliste</h2>
    <table>
        <template let-group ngFor [ngForOf]="profilData">
            <tr>
                <td>Zeitraum</td>
                <td>{{group.periode}}</td>
            </tr>
            <tr>
                <td>Arbeitsgeber</td>
                <td>{{group.company}}</td>
            </tr>
            <tr>
                <td>Bezeichnung</td>
                <td>{{group.art}}</td>
            </tr>
            <tr>
                <td>Realisation</td>
                <td>{{group.realisation}}</td>

            </tr>
            <tr>
                <td>Aufgabenbescheribung</td>
                <td>
                    <template let-task ngFor [ngForOf]="group.tasks">
                        <div class="container">* {{task}}</div>
                        <br/>
                    </template>
                </td>

            </tr>
            <hr>
        </template>
    </table>

    <div *ngFor="let cvContent of cvContents">
        <h2>{{cvContent.title}}</h2>
        <table>
            <template let-trainingData ngFor [ngForOf]="cvContent.trainingsList">
                <tr>
                    <td>{{trainingData.periode}}</td>
                    <td>{{trainingData.training}}</td>
                </tr>
            </template>
        </table>
    </div>
    <br/>
    <table>
        <template let-expData ngFor [ngForOf]="experinceData">
            <tr>
                <td style="font-weight: bold;">{{expData.title}}</td>
                <td>
                    <template let-content ngFor [ngForOf]="expData.contents">
                        {{content}}
                        <br/>
                    </template>
                </td>
            </tr>
        </template>
    </table>
    <hr>
    <div class="row">
        <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
            <div class="tile purple">
                <h1><strong>Zertifikate</strong></h1>
            </div>
        </div>
    </div>
</div-->

<!--div class="row">
    <div *ngFor="let trainingData of trainingsData;let odd=odd; let even=even;" class="col-sm-6 col-sm-3" style="border:0px;background-color:rgba(0,0,0,0);">
        <div class="tile" [ngClass]="{ odd: odd, even: even }">
            <div style="vertical-align:middle;text-align:center;">
                <a href="{{trainingData.path}}" target="_blank">
                    <h1 style="color: #fcab0e">{{trainingData.title}}</h1>
                    <img src="{{pdfImg}}">
                </a>
            </div>
        </div>
    </div>
</div-->
<footer-view></footer-view>