<div style="height: 275px;" #container class="fill" [style.background-image]="'url(' + mainImg + ')'">
    <video class="video-background" style="opacity: 0.5;width:100%;height:100%;" controls autoplay loop="loop" muted >
        <source src="{{videoPath}}" type="video/mp4">
    </video>
    <div class="textOverImage">
        <div style="margin-left: 10px;">
            <h2>IT Freelancer: Soulaymane Zemmouri</h2>
            <h2>Hallo, ich bin Softwareentwickler </h2>
            <h2 style="color:yellow;">{{skill}}</h2>
        </div>
        <div class="panelInfo PanelBox panel panel-info">
            <div class="panel-heading">
                <span>Jede Reise beginnt mit einem ersten Schritt. (Lao-Tse)</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
         <div class="tile purple">
            <h1><strong>meine Perspektive</strong></h1>
        </div>
    </div>
    <div class="col-md-12" style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
         Zu meinen Aufgaben für die Softwareentwicklungsprojekte gehören:
         <h4>Software-Architektur-Entwicklung, die sich auf Wartbarkeit, Skalierbarkeit, Sicherheit, Leistung konzentriert</h4>
         Im folgenden sind meine technische Schwerpunkte gelistet:
         <h4><strong>Typescript/Javascript, HTML5, CSS Angular 2 und .NET</strong></h4>
    </div>
  </div>
<div class="row">
    <div *ngFor="let mainContent of mainContents;let odd=odd; let even=even;" class="col-sm-6 col-sm-4" style="border:0px;background-color:rgba(0,0,0,0);">
        <div class="tile" [ngClass]="{ odd: odd, even: even }">
            <div style="vertical-align:middle;text-align:center;">
                <h1 style="color: #fcab0e">{{mainContent.title}}</h1>
                <img src="{{mainContent.imageURL}}">
            </div>
            <br/>
            <br/>
            <br/>
            <p>{{mainContent.content}}
            </p>
        </div>
    </div>
</div>

<div style="vertical-align:middle;text-align:center;background-color:rgba(0,0,0,0);border: 0px;">
    <div class="tile purple">
        <h1><strong>Referenzen</strong></h1>
    </div>
</div>
<slider-component></slider-component>
<footer-view></footer-view>